<link rel="import" href="../../polymer-elements/polymer/polymer.html">
<link rel="import" href="polymer-elements/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="polymer-elements/core-header-panel/core-header-panel.html">
<link rel="import" href="polymer-elements/core-icon-button/core-icon-button.html">
<link rel="import" href="polymer-elements/core-icon/core-icon.html">
<link rel="import" href="polymer-elements/core-image/core-image.html">
<link rel="import" href="polymer-elements/core-item/core-item.html">
<link rel="import" href="polymer-elements/core-list/core-list.html">
<link rel="import" href="polymer-elements/core-menu/core-menu.html">
<link rel="import" href="polymer-elements/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="polymer-elements/core-toolbar/core-toolbar.html">
<link rel="import" href="polymer-elements/paper-dialog/paper-dialog.html">
<link rel="import" href="polymer-elements/paper-dropdown/paper-dropdown.html">
<link rel="import" href="polymer-elements/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="polymer-elements/paper-fab/paper-fab.html">
<link rel="import" href="polymer-elements/paper-icon-button/paper-icon-button.html">
<link rel="import" href="polymer-elements/paper-item/paper-item.html">
<link rel="import" href="polymer-elements/paper-menu-button/paper-menu-button.html">
<link rel="import" href="polymer-elements/paper-shadow/paper-shadow.html">
<link rel="import" href="polymer-elements/paper-toast/paper-toast.html">

<polymer-element name="new-card">
  <template>
    <style>
    :host {
      background-color: red;
      display: block;
      position: relative;
      width: 100%;
    }
    </style>
    <section>
      <h1>I'm a new card</h1>
    </section>
  </template>
  <script>Polymer({});</script>
</polymer-element>
